.c-container{
    display: flex;
}

.button1{
    position: absolute;
     border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-right:16px;
    margin-top: 10rem;
    left: 30px;
}

.button2{
    position: absolute;
    border: none;
   padding: 10px;
   cursor: pointer;
   display: flex;
   margin-right:0;
   margin-top: 10rem;
   left: 150px;
}